<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-4 text-lg-center">
        <ul class="list-inline">
          {{ range .Site.Menus.social -}}
            <li class="list-inline-item"><a href="{{ .URL | absURL }}" target="_blank">{{ .Pre | safeHTML }}<span class="ms-2 visually-hidden">{{ .Name | safeHTML }}</span></a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg-6 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | absURL }}" target="_blank"><span style="margin-right: 5px;">{{ .Name }}</span> {{ .Pre | safeHTML }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
</footer>