<div class="header-bar fixed-top"></div>
<header class="navbar fixed-top navbar-expand-md navbar-light nav-shadow">
  <div class="container">
    <input class="menu-btn order-0" type="checkbox" id="menu-btn">
    <label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>
    <a class="navbar-brand order-1 order-md-0 me-auto" href="{{ .Site.BaseURL | absURL }}">
      <img src="/android-chrome-192x192.png" style="max-width: 28px; vertical-align: middle; margin-right: 5px;" class="img-fluid light-img" />
      <img src="/white-payatu-logo.png" style="max-width: 28px; vertical-align: middle; margin-right: 5px;" class="img-fluid dark-img" />
      <span style="vertical-align: middle;">
      {{ .Site.Params.Title }}
    </span>
    </a>
    {{ if .Site.Params.options.darkMode -}}
    <button id="mode" class="btn btn-link order-2 order-md-4" type="button" aria-label="Toggle mode">
      <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
      <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
    </button>
    {{ end -}}
    <ul class="navbar-nav social-nav order-3 order-md-5">
      <!-- {{ range .Site.Menus.social -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absURL }}" target="_blank">{{ .Pre | safeHTML }}
            <span class="ms-2 visually-hidden">{{ .Name | safeHTML }}</span>
            </a>
        </li>
      {{ end -}} -->
      <a class="btn btn-dark btn px-4 mb light-img" target="_blank" href="https://gitlab.com/p4y4tu/securecode-wiki" role="button" style="color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg><span style="margin-left: 8px;">Contribute</span></a><a class="btn btn-light btn px-4 mb dark-img" target="_blank" href="https://gitlab.com/p4y4tu/securecode-wiki" role="button" style="color: #212529;"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg><span style="margin-left: 8px;">Contribute</span></a>
    </ul>
    <div class="collapse navbar-collapse order-4 order-md-1">
      <ul class="navbar-nav main-nav me-auto order-5 order-md-2">
        {{- $current := . -}}
        {{ range .Site.Menus.main -}}
          {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- $active = or $active (and (eq .Name "Docs") (eq $current.Section "docs")) -}}
          {{- $active = or $active (and (eq .Name "Guides") (eq $current.Section "guides")) -}}
          {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
          {{ if .Pre }} 
              <li class="nav-item{{ if $active }} active {{ end }}">
                <a class="nav-link" href="{{ .URL | absURL }}" target="_blank"><span style="margin-right: 5px;">{{ .Name }}</span>{{ .Pre | safeHTML }}</a>
              </li>
          {{ else }}
              <li class="nav-item{{ if $active }} active {{ end }}">
                <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
          {{ end }}
        {{ end -}}
      </ul>
      <div class="break order-6 d-md-none"></div>
      {{ if .Site.Params.options.flexSearch -}}
      <form class="order-7 order-md-3" style="margin-right: 10px;">
        <input id="userinput" class="form-control is-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
        <div id="suggestions" class="shadow bg-white rounded"></div>
      </form>
      {{ end -}}
    </div>
  </div>
</header>
